[submodule "firmware/feather/lib/Arduino-Makefile"]
	path = firmware/feather/lib/Arduino-Makefile
	url = git@github.com:sudar/Arduino-Makefile.git
[submodule "firmware/feather/lib/Adafruit_SI1145"]
	path = firmware/feather/lib/Adafruit_SI1145
	url = git@github.com:adafruit/Adafruit_SI1145_Library.git
[submodule "firmware/feather/lib/Adafruit_SSD1306"]
	path = firmware/feather/lib/Adafruit_SSD1306
	url = git@github.com:schizobovine/Adafruit_SSD1306.git
[submodule "firmware/feather/lib/Adafruit_GFX"]
	path = firmware/feather/lib/Adafruit_GFX
	url = git@github.com:adafruit/Adafruit-GFX-Library.git
[submodule "firmware/feather/lib/Bounce2"]
	path = firmware/feather/lib/Bounce2
	url = git@github.com:schizobovine/Bounce2.git
[submodule "firmware/feather/lib/EnableInterrupt"]
	path = firmware/feather/lib/EnableInterrupt
	url = git@github.com:GreyGnome/EnableInterrupt.git
[submodule "firmware/tinyduino/lib/Arduino-Makefile"]
	path = firmware/tinyduino/lib/Arduino-Makefile
	url = git@github.com:sudar/Arduino-Makefile.git
[submodule "firmware/tinyduino/lib/Adafruit_SI1145"]
	path = firmware/tinyduino/lib/Adafruit_SI1145
	url = git@github.com:adafruit/Adafruit_SI1145_Library.git
